# Назначение файла: список игнорируемых файлов.
node_modules/
bot/public/*
!bot/public/.gitkeep

# переменные окружения
.env
.env.*

# логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
*.tar

# другие
.DS_Store
bot/web/dist/
bot/web/node_modules/
