# Назначение файла: список игнорируемых файлов.
node_modules/
bot/public/*
!bot/public/.gitkeep
!bot/public/admin-placeholder.html

# переменные окружения
.env
.env.*

# логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
!bot/src/logs/

# Docker
*.tar

# отчёты покрытия
coverage/

# другие
.DS_Store
.vscode/
free-react-tailwind-admin-dashboard-main.zip
